<nav>
  <div>
    <div class="nav-title">
      Smart
    </div>
    <div class="nav-logo">
      <div>
        <div><i class="far fa-check-square"></i></div>
        <div>TO</div>
      </div>
      <div>
        <div><i class="far fa-check-square"></i></div>
        <div>DO</div>
        </div>
    </div>
  </div>
</nav>
