<nav class="nav">
  <div>
    <div class="nav-title">
      Smart
    </div>
    <div class="nav-logo">
      <div>
        <div><i class="far fa-check-square"></i></div>
        <div>TO</div>
      </div>
      <div>
        <div><i class="far fa-check-square"></i></div>
        <div>DO</div>
      </div>
    </div>
  </div>
  <div class="dropdown" id="user-icon" data-id="<%= user.id %>">
    <div>
      <a href="#" data-toggle="modal" data-target="#modalRegisterForm"><i class="far fa-comment" data-toggle="modal"
          data-target="#modalRegisterForm"></i>
        <span id="edit">Edit</span>
      </a>
      <i class="fas fa-user-astronaut"></i>
    </div>
    <div class="username-holder"><%= user.name %></div>
    <div class="dropdown-content">
      <form action="/logout" method="POST">
        <div id="logout">Logout</div>
      </form>
    </div>
  </div>
</nav>
