<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximmum-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <!-- <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--Font Families-->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Tamma|Permanent+Marker&display=swap" rel="stylesheet">

    <!-- External Font Awesome icons -->
    <script src="https://kit.fontawesome.com/7b217e7c39.js" crossorigin="anonymous"></script>

    <!-- App JS -->
    <script type="text/javascript" src="scripts/login.js"></script>
  </head>

  <body>
    <% include ./partials/nav-bar %>

    <div class="container">
      <div class="img-container">
        <div class="img">
          <img src="/docs/PinClipart.com_check-list-clip-art_4976366.png">
        </div>
        <div class="buttons">
          <div class="btn-login">
            <i class="fas fa-pencil-alt"></i>
            <span>Login</span>
          </div>
          <div class="btn-register">
            <i class="fas fa-clipboard-list"></i>
            <span>Register</span>
          </div>
        </div>
      </div>
      <form method="POST" action="/register" id="register">
        <h2 class="text-center">Sign Up!</h2>
        <p class="text-center">Please fill in this form to create an account!</p>
        <hr>
        <div class="form-group">
          <label>Email Address</label>
          <input type="email" class="form-control" name="email" placeholder="Enter Email" required="required">
        </div>
        <div class="form-group">
          <label>Name</label>
          <input type="name" class="form-control" name="name" placeholder="Enter Name" required="required">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" name="password" placeholder="Enter Password" required="required">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
        <!-- <div class="text-center">
          Already have an account?
          <a href=#>Login here</a>
        </div> -->
      </form>
      <form method="POST" action="/login" id="login">
        <h2 class="text-center">Login</h2>
        <p class="text-center">Welcome back!</p>
        <hr>
        <div class="form-group">
          <label>Email Address</label>
          <input type="email" class="form-control" name="email" placeholder="Enter Email" required="required">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" name="password" placeholder="Enter Password" required="required">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
