<!DOCTYPE html>
<html lang="en">

<head>
  <title>Smart TO-DO List</title>

  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

  <!--Css style-->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/tasks.css" type="text/css" />
  <link rel="stylesheet" href="/styles/tasks2.css" type="text/css" />

  <!-- Bootstrap drag and drop -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/gh/RubaXa/Sortable/Sortable.min.js"></script>


  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.5/css/mdb.min.css" rel="stylesheet">

  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!--Font Families-->
  <link href="https://fonts.googleapis.com/css?family=Baloo+Tamma|Permanent+Marker&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">


</head>
<% include ./partials/nav-bar %>

<body class="body">
  <!-- alert user -->
  <div id="my-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Oops!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p></p>
        </div>
      </div>
    </div>
  </div>
  <!-- submit task area -->
  <div class='task-form'>
    <form id='submit-form'>
      <input type='text' name='task' placeholder='add task' id="addTask">
      <button class='add-task'></button>
    </form>
  </div>
  <!-- category columns/container -->
  <div class="task-container">
    <div id='my-lists'>
      <article id="movies" data-category_id="1">
        <header>
          <div><i class="fas fa-video"></i></div>
          <div>Movies</div>
        </header>
        <ul class="list-group" id="demo1" data-category_id="1">
        </ul>
      </article>
      <article id="books" data-category_id="2">
        <header>
          <div><i class="fas fa-book-open"></i></div>
          <div>Books</div>
        </header>
        <ul class="list-group" id="demo2" data-category_id="2">
        </ul>

      </article>
      <article id="restaurants" data-category_id="3">
        <header>
          <div><i class="fas fa-utensils"></i></div>
          <div>Restaurants</div>
        </header>
        <ul class="list-group" id="demo3" data-category_id="3">
        </ul>
      </article>
      <article id="products" data-category_id="4">
        <header>
          <div><i class="fas fa-shopping-cart"></i></div>
          <div>Products</div>
        </header>
        <ul class="list-group" id="demo4" data-category_id="4">
        </ul>
      </article>
    </div>
  </div>



  <!-- MODAL -->
  <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <form class="modal-content" method="POST" action="/update_profile">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Profile Update</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <i class="fas fa-user prefix black-text"></i>
            <input name="name" type="text" id="orangeForm-name" class="form-control validate" placeholder="Your name"
              value="<%=user.name%>" required>
            <label data-error="wrong" data-success="right" for="orangeForm-name"></label>
          </div>
          <div class="md-form mb-5">
            <i class="fas fa-envelope prefix black-text"></i>
            <input name="email" type="email" id="orangeForm-email" class="form-control validate"
              placeholder="Your email" value="<%=user.email%>" required>
            <label data-error="wrong" data-success="right" for="orangeForm-email"></label>
          </div>
          <div class="md-form mb-5">
            <i class="fas fa-lock prefix grey-text"></i>
            <input name="password" type="password" id="orangeForm-pass" class="form-control validate"
              placeholder="Verify password" required>
            <label data-error="wrong" data-success="right" for="orangeForm-pass"></label>
          </div>
          <div class="md-form mb-4">
            <i class="fas fa-lock prefix grey-text"></i>
            <input name="new_password" type="password" id="orangeForm-pass" class="form-control validate"
              placeholder="New password (optional)">
            <label data-error="wrong" data-success="right" for="orangeForm-pass"></label>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-warning">Update</button>
        </div>
      </form>
    </div>
  </div>

  <!-- App.js -->
  <script type="text/javascript" src="/scripts/nav.js"></script>
  <script type="text/javascript" src="/scripts/tasks.js"></script>
  <script type="text/javascript" src="/scripts/dragNdrop.js"></script>



</body>

</html>
