<!DOCTYPE html>
<html lang="en">

<head>
  <title>Smart TO-DO List</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximmum-scale=1.0" />

  <!--Css style-->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <!-- <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/tasks.css" type="text/css" />
  <link rel="stylesheet" href="/styles/tasks2.css" type="text/css" />


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!--Font Families-->
  <link href="https://fonts.googleapis.com/css?family=Baloo+Tamma|Permanent+Marker&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

  <!-- External Font Awesome icons -->
  <script src="https://kit.fontawesome.com/7b217e7c39.js" crossorigin="anonymous"></script>

</head>
<% include ./partials/nav-bar %>

<body class="body">

  <div class='task-form'>
    <form method='POST' action='/tasks'>
      <input type='text' name='task' placeholder='add task'>
      <button class='add-task'></button>
    </form>
  </div>
  <div class="task-container">
    <div id='my-lists'>
      <article id="movies">
        <header>
          <div><i class="fas fa-video"></i></div>
          <div>Movies</div>
        </header>
        <div>
          <ul>
            <li>Watch Moana</li>
          </ul>
        </div>
      </article>
      <article id="books">
        <header>
          <div><i class="fas fa-book-open"></i></div>
          <div>Books</div>
        </header>
        <div>
          <ul>
            <li></li>
          </ul>
        </div>

      </article>
      <article id="restaurants">
        <header>
          <div><i class="fas fa-utensils"></i></div>
          <div>Restaurants</div>
        </header>
        <div>
          <ul>
            <li></li>
          </ul>
        </div>

      </article>
      <article id="products">
        <header>
            <div><i class="fas fa-shopping-cart"></i></div>
            <div>Products</div>
        </header>
        <div>
          <ul>
            <li></li>
          </ul>
        </div>

      </article>
    </div>
  </div>

  <script type="text/javascript" src="/scripts/tasks.js"></script>
</body>

</html>
