<!DOCTYPE html>
<html lang="en">

<head>
  <title>Smart TO-DO List</title>

  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

  <!--Css style-->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/tasks.css" type="text/css" />
  <link rel="stylesheet" href="/styles/tasks2.css" type="text/css" />

  <!-- Bootstrap drag and drop -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/gh/RubaXa/Sortable/Sortable.min.js"></script>


  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.5/css/mdb.min.css" rel="stylesheet">

  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/css/mdb.min.css" rel="stylesheet"> -->
  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.5/js/mdb.min.js"></script> -->

  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/js/mdb.min.js"></script> -->


    <!--Font Families-->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Tamma|Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">


  </head>
<% include ./partials/nav-bar %>

<body class="body">
  <!-- alert user -->
  <div id="my-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Oops!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p></p>
        </div>
      </div>
    </div>
  </div>
  <!-- submit task area -->
  <div class='task-form'>
    <!-- <form method='POST' action='/tasks'> -->
    <form id='submit-form'>
      <input type='text' name='task' placeholder='add task'>
      <button class='add-task'></button>
    </form>
  </div>
  <div class="task-container">
    <div id='my-lists'>
      <article id="movies" data-category_id="1">
        <header>
          <div><i class="fas fa-video"></i></div>
          <div>Movies</div>
        </header>
        <ul class="list-group" id="demo1" data-category_id="1">
        </ul>
      </article>
      <article id="books" data-category_id="2">
        <header>
          <div><i class="fas fa-book-open"></i></div>
          <div>Books</div>
        </header>
        <ul class="list-group" id="demo2" data-category_id="2">
        </ul>

      </article>
      <article id="restaurants" data-category_id="3">
        <header>
          <div><i class="fas fa-utensils"></i></div>
          <div>Restaurants</div>
        </header>
        <ul class="list-group" id="demo3" data-category_id="3">
        </ul>
      </article>
      <article id="products" data-category_id="4">
        <header>
          <div><i class="fas fa-shopping-cart"></i></div>
          <div>Products</div>
        </header>
        <ul class="list-group" id="demo4" data-category_id="4">
        </ul>
      </article>
    </div>
  </div>



  <!-- MODAL TEST -->
  <div class="modal fade" id="orangeModalSubscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-warning" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">Subscribe</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="md-form mb-5">
          <i class="fas fa-user prefix grey-text"></i>
          <input type="text" id="form3" class="form-control validate">
          <label data-error="wrong" data-success="right" for="form3">Your name</label>
        </div>

        <div class="md-form" >
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="email" id="form2" class="form-control validate">
          <label data-error="wrong" data-success="right" for="form2">Your email</label>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-outline-warning waves-effect">Send <i class="fas fa-paper-plane-o ml-1"></i></a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<div class="text-center">
  <a href="" class="btn btn-default btn-rounded" data-toggle="modal" data-target="#orangeModalSubscription">Launch
    modal Subscription</a>
</div>

  <!-- App.js -->
  <script type="text/javascript" src="/scripts/nav.js"></script>
  <script type="text/javascript" src="/scripts/tasks.js"></script>
  <script type="text/javascript" src="/scripts/dragNdrop.js"></script>



</body>

</html>
