<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/tasks.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  </head>

  <body>
    <!-- <% include ./partials/nav-bar %> -->
    <h1>Tasks</h1>

    <div class='task-form'>
      <form method='POST' action='/tasks'>
      <!-- <form> -->
        <input type='text' name='task'>
        <button class='add-task'></button>
      </form>
    </div>

    <script type="text/javascript" src="/scripts/tasks.js"></script>

  </body>

</html>
