
.task-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  #my-lists {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px auto;
    width: 100%;
    height: 100%;

    article {
      width: 20%;
      border: solid 3px black;
    }
  }
}
