
.task-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  #my-lists {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px auto;
    width: 100%;
    height: 100%;

    article {
      width: 20%;
      border: solid 3px black;
      border-radius: 7px;

      header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 10px;
        font-family: 'Permanent Marker', cursive;
        font-size: 1.5rem;
        border-bottom: solid 1px gray;

        div {
          padding: 0 10px;
        }
      }

      div {
        margin: 10px 0;
      }
    }
  }
}
